@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --bs-headings: #fffbff;
  --bs-text: #fffbff;
  --bs-text-secondary: #ffffff;
  --bs-buttons: #00b7ff;
  --bs-links: #00b7ff;
  --bs-warning: #ffc107;
  --bs-info: #17a2b8;
  --bs-light: #f8f9fa;
  --bs-dark-primary: #121212;
  --bs-dark-secondary: #202533;
}

body {
  background-color: var(--bs-dark-primary);
}

h1,
h2,
p,
a,
button {
  font-family: "Rubik", sans-serif;
  color: var(--bs-headings);
}

.navbar-custom {
  background-color: var(--bs-dark-primary);
}

.nav-link.links-custom {
  color: var(--bs-links);
}

.nav-link.links-custom:hover {
  color: var(--bs-text);
}

.logo-nav {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.logo-nav:hover {
  transform: scale(1.2);
}

.logo-hero {
  width: 250px;
}

.p-custom {
  color: var(--bs-text);
}

.app-content {
  padding-top: 30px;
}

.content-container-custom {
  display: flex;
  flex-direction: column; /* Stack form and results vertically */
  justify-content: center;
  align-items: center;
}

.form-container {
  min-width: 300px;
  margin-bottom: 20px; /* Add some space below the form */
}

.btn-container {
  text-align: center;
}

.btn-outline-custom {
  border-color: var(--bs-buttons);
  color: var(--bs-text);
}

.btn-outline-custom:hover {
  border-color: var(--bs-text);
  color: var(--bs-buttons);
}

.btn-block {
  display: block;
  width: 100%;
}

.rec-title {
  color: var(--bs-text);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.results-container {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(20px);
  opacity: 0;
  display: none; /* Initially hidden */
}

.results-container.slide-up {
  transform: translateY(0);
  opacity: 1;
}

.card-text {
  color: var(--bs-dark-primary);
}

/* Sign up modal */

/* .modal-content.custom {
  background-color: var(--bs-dark-secondary);
}

.modal-header.custom {
  border: none;
}

.modal-title.custom {
  color: var(--bs-light);
}

.btn-close.custom {
  filter: invert(92%) sepia(5%) saturate(97%) hue-rotate(179deg)
    brightness(101%) contrast(85%);
}


} */

/* AUTH */
.auth-page-poster {
  border: 1px solid white;
}

.auth-title {
  color: var(--bs-headings);
}

.btn.auth-btn-custom {
  background-color: var(--bs-buttons);
  color: var(--bs-dark-primary);
}

.btn.auth-btn-custom:hover {
  border-color: var(--bs-buttons);
  background-color: var(--bs-dark-primary);
  color: var(--bs-text);
}

.error {
  color: var(--bs-warning);
}

.auth-success-msg {
  color: var(--bs-info);
}
